.purchases-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
  }
  
  .purchases-container header {
    display: flex;
    align-items: center;
    
  }
  
  .purchases-container header span {
    font-size: 20px;
    margin-left: 24px;
  }
  
  .purchases-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
  }
  
  .purchases-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
  }
  
  .purchases-container header button:hover {
    border-color: #999;
  }
  

  .purchases-container .row {
      padding-top: 20px;
  }

  .purchases-container span {
    font-size: 16px;
    margin-left: 24px;
  }
  
  .purchases-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
  }
  
  .purchases-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    list-style: none;
  }
  
  .purchases-container ul li {
    background: #FFF;
    padding: 24px;
    border-radius: 10px;
    position: relative;
    box-shadow: -1px 2px 10px #999 ;
  }
  
  .purchases-container ul li button {
    position: absolute;
    right: 14px;
    top: 14px;
    border: 0;
  }
  
  .purchases-container ul li button:hover {
    opacity: 0.8;
  }
  
  .purchases-container ul li strong {
    display: block;
    /*margin-bottom: 16px;*/
    color: #41414d;
  }
  
  .purchases-container ul li p + strong {
    margin-top: 32px;
  }
  
  .purchases-container ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
  }




  .purchases-container form label {
    font-size: 16px;
    margin-left: 24px;
  }

  .purchases-container form .input-group {
    display: flex;
    
  }

  
  .purchases-container form input {
      margin-left: 10px;
      height: 50px;
      border-radius: 10px;
      box-shadow: -1px 2px 5px #999 ;

  }
  .yearInput {
    width: 150px;
  }

  .submitButton {
      width: 100px;
        
  }

  .container-modal{
    display: flex;
    align-items: center;
    top: 0;
    right:0;
    background: rgba(0,0,0,.3);
    width: 100vw;
    height: 100vh;
    
}

.modal{
    width: 70%;
    min-height: 250px;
    height: 250px;
    background: #fff;
    margin: auto;
}